/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
  outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  height: 300px;
  width: 600px;
}

.sky {
  position: relative;
  height: 300px;
  width: 600px;
  background: url("https://i.imgur.com/kHtGY1k.png");
  animation: dayCycle 60s linear 10s infinite;
}

@keyframes dayCycle {
  0% {
    background: url("https://i.imgur.com/kHtGY1k.png");
  }
  13% {
    background: url("https://i.imgur.com/6g1xcru.png");
  }
  20% {
    background: url("https://i.imgur.com/EZbv955.png");
  }
  25% {
    background: url("https://i.imgur.com/5x3XTrZ.png");
  }
  40% {
    background: url("https://i.imgur.com/5x3XTrZ.png");
  }
  50% {
    background: url("https://i.imgur.com/tBHJzgm.png");
  }
  65% {
    background: url("https://i.imgur.com/tBHJzgm.png");
  }
  75% {
    background: url("https://i.imgur.com/5x3XTrZ.png");
  }
  80% {
    background: url("https://i.imgur.com/EZbv955.png");
  }
  87% {
    background: url("https://i.imgur.com/6g1xcru.png");
  }
  100% {
    background: url("https://i.imgur.com/kHtGY1k.png");
  }
}

.clouds {
  fill: white;
  animation: cloudCycle 60s linear 10s infinite;
}
@keyframes cloudCycle {
  0% {
    fill: white;
  }
  13% {
    fill: rgb(255, 251, 241);
  }
  20% {
    fill: #fff1de;
  }
  25% {
    fill: #ffead1;
  }
  40% {
    fill: #ffead1;
  }
  50% {
    fill: #5767a0;
  }
  65% {
    fill: #5767a0;
  }
  75% {
    fill: #ffead1;
  }
  80% {
    fill: #fff1de;
  }
  87% {
    fill: rgb(255, 251, 241);
  }
  100% {
    fill: white;
  }
}

.cloud-1 {
}



.clouds #cloud2 {
  
}

.clouds #cloud3 {
  
}


#text {
  fill: white;
}

.ether {
  fill: #31c5f4;
  filter: drop-shadow(0px 0px 5px rgb(168, 219, 235));
  animation: etherGlow 5s linear infinite;
}

@keyframes etherGlow {
  0% {
    fill: #31c5f4;
  }
  50% {
    fill: #ddf7ff;
  }
  100% {
    fill: #31c5f4;
  }
}

#art1 {
  fill: mediumseagreen;
  opacity: 0;
  width: 80px;
  position: absolute;
  left: 223px;
  top: 120px;
  filter: drop-shadow(0px 0px 20px rgb(0, 255, 115));
}

.arts {
  animation: artAppear 3s ease;
}

@keyframes artAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#logo {
  position: absolute;
  opacity: 0;
  width: 25%;
  left: 430px;
  top: 230px;
  filter: brightness(0) invert(1);
  animation: logoFade 2s ease-in 11s forwards;
}

@keyframes logoFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#monado {
  transform: translateY(475px);
  animation: slideIn 8s ease-in-out 3s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(475px);
  }
  100% {
    transform: translateY(0px);
  }
}
