/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* {
  outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
}

.sky {
  
  position: relative;
  height: 300px;
  width: 600px;
  animation: dayCycle 60s linear infinite;
}
@keyframes dayCycle {
  0% {
    background: url("https://i.imgur.com/kHtGY1k.png");
  }
  13%{
    background: url("https://i.imgur.com/6g1xcru.png");
  }
  20%{
    background: url("https://i.imgur.com/EZbv955.png");
  }
  25% {
    background: url("https://i.imgur.com/5x3XTrZ.png"); 
  }
  50% {
    background: url("https://i.imgur.com/tBHJzgm.png");
  }
  
  75% {
    background: url("https://i.imgur.com/5x3XTrZ.png");
  }
  80%{
    background: url("https://i.imgur.com/EZbv955.png");
  }
  87%{
    background: url("https://i.imgur.com/6g1xcru.png");
  }
  100% {
    background: url("https://i.imgur.com/kHtGY1k.png"); 
  }
}

.clouds {
  animation: cloudCycle 60s linear infinite;
}
@keyframes cloudCycle {
  0% {
    fill:white
  }
  13% {
    fill:rgb(255, 251, 241)
  }
  20% {
    fill:#fff1de
  }
  25% {
    fill:#FFEAD1
  }
  50% {
    fill:#5767A0
  }
  
  75% {
    fill:#FFEAD1
  }
  80% {
    fill:#fff1de
  }
  87% {
    fill:rgb(255, 251, 241)
  }
  100% {
    fill:white;
  }
}
.clouds #cloud1 {
  animation: slide1 23s linear infinite;
}
@keyframes slide1 {
  0% {
    transform: translate(700px, 10px);
  }
  100% {
    transform: translate(-300px, 10px);
  }
}
.clouds #cloud2 {
  animation: slide2 10s linear infinite;
}
@keyframes slide2 {
  0% {
    transform: translate(350px, 0);
  }
  100% {
    transform: translate(-550px, 0);
  }
}

.clouds #cloud3 {
  animation: slide3 15s linear infinite;
}
@keyframes slide3 {
  0% {
    transform: translate(350px, 0);
  }
  100% {
    transform: translate(-600px, 0);
  }
}

#text {
  fill: white;
}

.ether {
  fill: #31c5f4;
  animation: etherGlow 5s linear infinite;
}

@keyframes etherGlow {
  0% {
    fill: #31c5f4;
  }
  50% {
    fill: #c1f1ff;
    filter: drop-shadow(0px 0px 20px rgb(93, 250, 255)));
  }
  100% {
    fill: #31c5f4;
  }
}

#art1 {
  fill: mediumseagreen;
  opacity: 0;
  width: 80px;
  position: absolute;
  left: 223px;
  top: 120px;
  filter: drop-shadow(0px 0px 20px rgb(0, 255, 115));
}

.arts {
  animation: animation 3s ease;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
